// text
$primary-text-color: #f5f5f5;
$secondary-text-color: #b9b9b9;
$tertiary-text-color: #424242;

// background
$primary-background-color: #d3d3d3;
$secondary-background-color: #2b2b2b;
$tertiary-background-color: #e2e2e2;
